{% extends 'layout.html' %}

{% block header%}
Step 3 - Add templates
{% endblock %}

{% block content%}

<section>
    <h2>Templates</h2>
    <p>Templates are html files that flask uses to create the structure of our website. </p>
    <ol>
        <li>Add a folder called 'templates' - exact name</li>
        <li>Inside of this folder, we can create html file for our homepage : index.html.</li>
        <li>Add content to html file</li>
        <li>in app.py, import the render_template method and return render_template('index.html')</li>
    </ol>
</section>

<section>
    <h2>Flask code</h2>
    <pre><code class="python">
    from flask import Flask, render_template

    app = Flask(__name__)

    @app.route('/')
    def index():
        return render_template('index.html')  

    @app.route('/pets')  # request
    def pets():
        return render_template('pets.html')

    @app.route('/set-environment')
    def environment():
        return render_template('set-environment.html')

    if __name__ == '__main__':
        app.run(debug=True, port=8000, host='127.0.0.1')
            </code></pre>
</section>

{% endblock %}