<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Static files</title>
</head>

{% extends 'layout.html' %}

{% block header%}
Step 4 - Add Static files
{% endblock %}


{% block content%}
<section>
    <h2>Static files</h2>
    <p>They are css and js files. </p>
    <ol>
        <li>Create the 'static' folder and inside 2 other folders : css and js where you can put your css
            stylesheet and your js scrips.</li>
        <li>In the html templates, add link to the css stylesheet : href="/static/css/styles.css"</li>
        <li>Before the closing body tag, add the script tag with sr='static/js/app.js'</li>
        <li>Create your own palette in styles.css</li>
        <li>Change the font family</li>
        <li>Uses icons if it makes sense</li>
    </ol>
</section>

<!-- Bookmarks -->
<section class="bookmark">
    <h2>Bookmarks</h2>
    <ul>
        <li><a href="https://www.webdevbydoing.com/absolute-relative-and-root-relative-file-paths/">Absolute /
                relative file path</a>
        </li>
        <li><a href="https://coolors.co/palettes/trending">Color palettes - first site</a>
        </li>
        <li><a href="https://colorhunt.co/">Color palettes - second site</a></li>
        <li><a href="https://web.mit.edu/jmorzins/www/fonts.html">Web Safe Fonts</a></li>
        <li><a href="https://fontawesome.com/v4/icon/cubes">Fontawesome icons</a></li>
    </ul>
</section>
{% endblock %}