{% extends 'layout.html' %}

{% block header%}
Coding Blog
{% endblock %}

{% block content%}
<section class="posts">
    <section class="flask">
        <h2>Create an app using flask</h2>
        <ol>
            <li><a href="{{url_for('set_environment')}}">Set Your Project Environment</a></li>
            <li><a href="{{url_for('flask_quickstart')}}">Flask Quickstart</a></li>
            <li><a href="{{url_for('add_templates')}}">Add templates</a></li>
            <li><a href="{{url_for('static_files')}}">Add static files</a></li>
            <li><a href="{{url_for('template_inheritance')}}">Template inheritance</a></li>
        </ol>
    </section>
    <section class="clean-python">
        <h2>Write clean Python code</h2>
        <ol>
            <li><a href="{{ url_for('pep_8')}}">pep8 Guidelines</a></li>
        </ol>
    </section>
</section>
{% endblock %}