<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caro-zum Portfolio</title>
</head>

<body>
    <header>
        <h1>Welcome to Caroline's</h1>
    </header>

    <!-- Who I am -->
    <section>
        <h2>I am a data scientist, digital addict, ocean lover and lifelong learner</h2>
    </section>

    <!-- Projects and portfolio -->
    <section>
        <h2>Projects and portfolio</h2>
        <div class="card">
            <h3>Pet app</h3>
            <p class="date">November 2023</p>
            <p>Using flask, sqlAlchemy. . </p>
            <a href="pets.html">Got to the app</a>
        </div>
        <div class="card">
            <h3>Kardashian sisters analysis</h3>
            <p class="date">November 2023</p>
            <p>Pandas, Matplotlib using data from google trends.</p>
            <p class="tags">#<span class="tag">data analysis</span>,
            <div id="span" class="tag">python</div>
            </p>
            <a href="">View the notebook</a>
        </div>

    </section>

    <!-- Skills and certifications -->
    <section>
        <h2>Skills and certifications</h2>
    </section>

    <!-- blog - learning journey -->
    <section>
        <h2>Blog and learning journey</h2>
    </section>

</body>

</html>