{% extends 'layout.html' %}
{% block header %}
Caroline Zumbiehl
{% endblock %}

{% block content %}


<!-- About Me -->
<section id="about">
    <h2>Data analyst - data scientist - python developer</h2>
    <p>Sujets de prédilection : #ai, #data, #python et #lifelonglearner</p>
    <p>École des Ponts ParisTech</p>
    <p>Biarritz, Nouvelle-Aquitaine, France</p>

    <h3>Mon Parcours</h3>
    <ul>
        <li>
            <section class="experience row">
                <p class="date">Sept 2021 - sept 2022</p>
                <p class="job">Chef de projet Web</p>
                <p class="company">CIC Bayonne</p>
                <p class="description">Méthodes agiles · HTML5 · CSS3 · JavaScript · WordPress · PHP · Gestion de projet
                    web ·
                    Cahier des charges fonctionnel · Web Design · Gestion d’équipe · Travail d’équipe</p>
                <p class="link"><a href="https://czumbiehlfaure.wixsite.com/toulouzumlivres">To be added</a></p>
            </section>
        </li>
        <li>
            <section class="experience row">
                <p class="date">Sept 2018 - July 2019</p>
                <p class="job">Rédacteur </p>
                <p class="company">Livre de Poche</p>
                <p class="description">Indépendant. Lecture, rédaction de critiques. Tenue du blog Toulouzum</p>
                <p class="link"><a href="https://czumbiehlfaure.wixsite.com/toulouzumlivres">Toulouzum blog</a></p>
            </section>
        </li>
        <li>
            <section class="experience row">
                <p class="date">Sept 2014 - juin 2018</p>
                <p class="job">Professeur </p>
                <p class="company">Education Nationale Toulouse</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, architecto. </p>
            </section>
        </li>
        <li>
            <section class="experience row">
                <p class="date">Sept 2014 - Sept 2105</p>
                <p class="job">Responsable Accueil social</p>
                <p class="company">Secours populaire française - Haute Garonne</p>
                <p class="description">En charge de l'accueil social des familles pour la distribution alimentaire et
                    l'aide au
                    quotidien. Tenue bibliothèque. Qualités de communication et d'écoute.</p>
            </section>
        </li>
        <li>
            <section class="experience row">
                <p class="date">Sept 2014 - Sept 2105</p>
                <p class="job">Responsable Accueil social</p>
                <p class="company">Secours populaire française - Haute Garonne</p>
                <p class="description">En charge de l'accueil social des familles pour la distribution alimentaire et
                    l'aide au
                    quotidien. Tenue bibliothèque. Qualités de communication et d'écoute.</p>
            </section>
        </li>
        <li>
            <section class="experience row">
                <p class="date">Sept 2019 - Sept 2104</p>
                <p class="job">Presidente</p>
                <p class="company">Les petits Paul Bert - Haute Garonne</p>
                <p class="description">création et Tenue du blog. Evènementiels pour lever des fonds. </p>
            </section>
        </li>
        <li>
            <section class="experience row">
                <p class="date">April 1999 - May 2009</p>
                <p class="job">Manager audit financier </p>
                <p class="company">PriceWaterhouseCoopers Paris</p>
                <p class="description">Finance · Normes comptables · Microsoft Excel · Compétences analytiques ·
                    Résolution de
                    problèmes · Gestion d’équipe · Travail d’équipe · Audit financier · Audit IT · Principes comptables
                    généralement reconnus aux États-Unis (GAAP) · Normes internationales d’information financière (IFRS)
                </p>
            </section>
        </li>
        <li>
            <section class="experience row">
                <p class="date">Setp 1997 - juin 1998</p>
                <p class="job">Junior audit financier </p>
                <p class="company">Deloite Paris</p>
                <p class="description">Audit et commissariat aux comptes de société Industrielle. </p>
            </section>
        </li>
    </ul>
</section>



<!-- Projects -->
<h2>Projects</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste quod veritatis ad odio at facere. Assumenda,
    obcaecati rerum! Fuga dolorum doloremque quam dicta dolore facere exercitationem eligendi, at explicabo esse.
</p>
<p>Link to GitHub account</p>
<section id="project-cards">
    <a href="{{url_for('pets')}}">
        <div class="card">
            <img src="https://cdn.pixabay.com/photo/2019/08/19/07/45/dog-4415649_960_720.jpg" alt="Dog picture">
            <h2>Pets </h2>
            <h3>Nov 2023</h3>
            <p>Html, css, js, python, flask, sqlAlchemy</p>
        </div>
    </a>
    <a href="#">
        <div class="card">
            <img src="/img/k.png" alt="The letter K for Kardashian">
            <h2>5 Ks</h2>
            <h3>Nov 2023</h3>
            <p>Anaconda, jupyter notebook, pandas, numpy, matplotlib</p>
        </div>
    </a>
</section>

<!-- blog - Posts -->
<section>
    <h2></i> Blog Posts</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint repudiandae eveniet unde placeat perspiciatis
        aliquam labore necessitatibus dolorum corrupti nostrum provident impedit quisquam, nobis molestiae officiis.
        Similique numquam laudantium ullam.</p>

    <a class="blog-btn" href="{{ url_for('blog')}}" alt="Visit the blog page">
        See more...
    </a>
    </p>
</section>

<!-- Education and certifications -->
<section>
    <h2>Education and certifications</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <section class="education">
        <h3>Simplon</h3>
        <p>skills: machine learning</p>
        <p>add link</p>
    </section>
    <section class="education">
        <h3>Treehouse</h3>
        <p>Skills : Data analyst + flask + python</p>
        <p>Add my referee link.</p>
    </section>
    <section class="education">
        <h3>WP Chef</h3>
        <p>skills: design, accessibility, wordpress</p>
        <p>add link</p>
    </section>
    <section class="education">
        <h3>Ponts et Chaussees</h3>
        <p>Skills : finance, mathematics</p>
        <p>Add link.</p>
    </section>


</section>


<!-- contact me -->
<section>
    <h2>Get in touch</h2>
    <p>Form</p>
    <p>linked in</p>
</section>

{% endblock %}